<head>
    <title>Leaderboard</title>
</head>
<body>
<h1>Leaderboard</h1>
{{> loginButtons}}
{{> leaderboard}}
{{> updatePlayer}}
{{> addPlayerForm}}

</body>

<template name="leaderboard">
    <ul>
        {{#each player}}
        <li class="player {{selectedClass}}">{{name}}: {{score}}</li>
        {{/each}}
    </ul>
    <br><br>
    {{#if showSelectedPlayer}}
    Selected Player: {{showSelectedPlayer.name}}<br>
    <input type="button" class="increment" value="Give 5 Points">
    <input type="button" class="decrement" value="Take 5 Points">
    <input type="button" class="remove" value="Remove Player">
    <input type="button" class="update" value="{{#if showUpdatePlayer}}Hide Update Form{{else}}Show Update Form{{/if}}">
    {{/if}}
    <br>

</template>

<template name="addPlayerForm">
    {{#if currentUser}}
    <h2>Add Players</h2>
    <form>
        <input type="text" name="playerName" placeholder="Name">
        <input type="number" name="playerScore" placeholder="Score">
        <input type="submit" value="Add Player">
    </form>
    {{/if}}
</template>

<template name="updatePlayer">
    {{#if showUpdatePlayer}}
    <h2>Update Player</h2>
    <form>
        <input type="text" name="playerNameUpdate" placeholder="Name">
        <input type="number" name="playerScoreUpdate" placeholder="Score">
        <input type="submit" value="Update!">
    </form>
    {{/if}}
</template>